ConvolutionNeuralNetwork/2nd_DeepCNN/ResidualNetwork/resnet50.h5
ConvolutionNeuralNetwork/2nd_DeepCNN/ResidualNetwork/models/resnet50.data-00000-of-00001
ConvolutionNeuralNetwork/3rd_ObjectDetection_Segmentation/ObjectDetection_YOLO/model_data/variables/variables.data-00000-of-00001
ConvolutionNeuralNetwork/3rd_ObjectDetection_Segmentation/ObjectDetection_YOLO/nb_images/*.mp4
ConvolutionNeuralNetwork/3rd_ObjectDetection_Segmentation/Segmentation_UNet/data/CameraRGB/*.png
ConvolutionNeuralNetwork/3rd_ObjectDetection_Segmentation/Segmentation_UNet/data/CameraMask/*.png
ConvolutionNeuralNetwork/4th_FaceRecognition_NeuralStyleTransfer/FacialRecognition_Verification/keras-facenet_tf23/variables/variables.data-00000-of-00001
ConvolutionNeuralNetwork/4th_FaceRecognition_NeuralStyleTransfer/FacialRecognition_Verification/keras-facenet-h5/model.h5
ConvolutionNeuralNetwork/4th_FaceRecognition_NeuralStyleTransfer/NeuralStyeTransfer/pretrained-model/imagenet-vgg-verydeep-19.mat
ConvolutionNeuralNetwork/4th_FaceRecognition_NeuralStyleTransfer/NeuralStyeTransfer/pretrained-model/vgg19_weights_tf_dim_ordering_tf_kernels_notop.h5
*.mp4