2_ConvolutionNeuralNetwork/2nd_DeepCNN/1st_ResidualNetwork/resnet50.h5
2_ConvolutionNeuralNetwork/2nd_DeepCNN/1st_ResidualNetwork/models/resnet50.data-00000-of-00001
2_ConvolutionNeuralNetwork/3rd_ObjectDetection_Segmentation/1st_ObjectDetection_YOLO/model_data/variables/variables.data-00000-of-00001
2_ConvolutionNeuralNetwork/3rd_ObjectDetection_Segmentation/1st_ObjectDetection_YOLO/nb_images/*.mp4
2_ConvolutionNeuralNetwork/3rd_ObjectDetection_Segmentation/2nd_Segmentation_UNet/data/CameraRGB/*.png
2_ConvolutionNeuralNetwork/3rd_ObjectDetection_Segmentation/2nd_Segmentation_UNet/data/CameraMask/*.png
2_ConvolutionNeuralNetwork/4th_FaceRecognition_NeuralStyleTransfer/1st_FacialRecognition_Verification/keras-facenet_tf23/variables/variables.data-00000-of-00001
2_ConvolutionNeuralNetwork/4th_FaceRecognition_NeuralStyleTransfer/1st_FacialRecognition_Verification/keras-facenet-h5/model.h5
2_ConvolutionNeuralNetwork/4th_FaceRecognition_NeuralStyleTransfer/2nd_NeuralStyeTransfer/pretrained-model/imagenet-vgg-verydeep-19.mat
2_ConvolutionNeuralNetwork/4th_FaceRecognition_NeuralStyleTransfer/2nd_NeuralStyeTransfer/pretrained-model/vgg19_weights_tf_dim_ordering_tf_kernels_notop.h5
3_SequenceModel/1st_RecurrentNeuralNetwork/LSTM_GenerationMusic/data/*.mp3
3_SequenceModel/1st_RecurrentNeuralNetwork/LSTM_GenerationMusic/data/*.wav
3_SequenceModel/2nd_WordEmbeddings/WordVector_Similary_Analogies/data/glove.6B.50d.txt
3_SequenceModel/2nd_WordEmbeddings/SentimentClassifier_LSTM/data/glove.6B.50d.txt
3_SequenceModel/3rd_SequenceToSequence/TriggerWordDetection_SpeechRecognition/XY_dev/*.npy
3_SequenceModel/3rd_SequenceToSequence/TriggerWordDetection_SpeechRecognition/XY_train/*.npy
3_SequenceModel/4th_TransformerNetwork/Transformer_NameEntityRecognition/model/*.h5
3_SequenceModel/4th_TransformerNetwork/Transformer_Preprocessing/glove/*.txt
3_SequenceModel/4th_TransformerNetwork/Transformer_QuestonAnswering/model/pytorch/*.bin
3_SequenceModel/4th_TransformerNetwork/Transformer_QuestonAnswering/model/tensorflow/*.h5
*.mp4